<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.nickname %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
  <% message.photos.each do |photo| %>
    <%= cl_image_tag photo.key %>
  <% end %>
</div>
