<div class="wrapper">
  <div class="card">
    <div class="card_in d-flex">
      <div class="container">
        <h1>Mau<span class="auto"></span></h1>
        <p>Slogan</p>
      </div>

<!-- Button trigger modal -->
  <% if current_user %>
    <button type="button" class="btn reminder"  data-bs-toggle="modal" data-bs-target="#exampleModal">
      Reminder
    </button>
  <%end %>

<!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
      <div class="modal-content">
        <div class="modal-header">
         <%# <img src="https://images.pexels.com/photos/8205506/pexels-photo-8205506.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""> %>
         <h5 class="modal-title " id="exampleModalLabel" >Reminder</h5>
        </div>
        <div class="modal-body list">
          <% @gardens.each do |garden|%>
            <li><%= link_to garden.name, garden_path(garden),class: "modal-name" %> <br> <li>
           <% if Time.now - garden.reminder > 0%>
              <div class= "d-flex">
                <div class="red"><strong><%= garden.reminder.strftime('%a %d %b %Y') %></strong></div>
                <img src="https://articulate-heroes.s3.amazonaws.com/uploads/rte/pqvxlfws_watering-can.gif"class="plant-imag">
              </div>
              <div class="red"><h3>It's time to water your plant!!!!!</h3></div>
            <% else %>
             <div class="d-flex">
               <div class="date-rem"><strong><%= garden.reminder.strftime('%a %d %b %Y') %></strong></div>
               <div><img src="https://i.pinimg.com/originals/2e/fb/90/2efb90c0b69884f2a69e67bdf4d6bff7.gif"class="plant-imag"></div>
              </div>
              <div class="reminder-g"> <h3>You are good to go</h3></div>
            <% end %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary modal-button" data-bs-dismiss="modal">Close</button>
          <%# <button type="button" class="btn btn-primary">Save changes</button> %>
        </div>
      </div>
    </div>
  </div>

  <div class="card_2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666299216/Mauplant/plants/scott-webb-WwWkgOMU8H8-unsplash_grygry.jpg)"></div>
  </div>
  </div>
  <%# background-image-div %>
  <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666287268/Mauplant/plants/scott-webb-hDyO6rr3kqk-unsplash_cxsrnb.jpg)">
    <%# card_button %>
    <div class="card-category_g"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666294767/Mauplant/plants/zoe-schaeffer-D_VjFp1ds1Y-unsplash_fk94qv.jpg)">
      <%= link_to "My garden","/gardens", class: "link" %>
    </div>

    <div class="card_btn">

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666294878/Mauplant/plants/istockphoto-1323462385-2048x2048_wtfmpm.jpg)">
        <%= link_to "help","/chatrooms/1", class: "link"%>
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666294981/Mauplant/plants/ceyda-ciftci-dDVU6D_6T80-unsplash_zwu1et.jpg)">
        <%= link_to "plants","/plants", class: "link"%>
      </div>
    </div>
 </div>
 <%# footer%>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
