
<div class="conatainer_">
 <div class="card">
    <div class="background_1" style="background-image: linear-gradient(rgba(0,70,0,0.6), rgba(0,8,51,0.9)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666656811/Mauplant/plants/photo-1514053026555-49ce8886ae41_f6sbni.avif)">
      <div class="title_hel"><h1>Hello,</h1>
          <h2>Gardeners</h2>
      </div>
      <%= form_with url: gardens_path, method: :get, class: " seach_bar d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "input-seach",
          placeholder: "Find a garden"
        %>
        <%= submit_tag "Search", class: "seach" %>
      <% end %>
     </div>
 </div>

  <div class="card-gardens">
    <div class="background_l" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666656529/Mauplant/plants/photo-1459156212016-c812468e2115_b6d1xe.avif)">
      <div class="container_g">
        <div class="card_g">
          <div class="card-header">
            <% @gardens.each do |garden|%>
              <div class="garden_name"><%= garden.name %></div>
              <%= link_to garden_path(garden), class: "btn_gardens btn btn-outline-success" do %>
                <%= cl_image_tag garden.photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            <%end%>
          </div>
        </div>
      <div class="btn_garden"><%= link_to "Create Garden", new_garden_path %></div>
    </div>
  </div>
</div>
