<div class="d-flex flex-column mb-3">
  <% @gardens.each do |garden|%>
  <%= garden.name %>
  <%= link_to "Show More", garden_path(garden), class: "btn btn-outline-success"%>
  <%= garden.latitude %>
  <%=garden.longtude %>
  <%=garden.address %>
  <%end%>
</div>
