<div class="containers">
  <div class="form_g">
    <div class="input">
      <div class="subtitle">Let's create your garden!</div>
      <%= simple_form_for(@garden) do |f| %>
        <%= f.input :name %>
        <%= f.input :reminder, html5: true %>
        <%= f.input :photo, as: :file %>
        <div class="submit"><%= f.submit %></div>
    </div>
    <% end %>
  </div>
</div>
