Create Garden
<div class="containers">
  <div class="form_g">
    <%= simple_form_for(@garden) do |f| %>
      <%= f.input :name %>
      <%= f.input :reminder %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
