
<div class="garden">
 <div class="gard-container">
    <div class=""background_plat" style="background-image: linear-gradient(rgba(0,70,0,0.6), rgba(0,8,51,0.9)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666656811/Mauplant/plants/photo-1514053026555-49ce8886ae41_f6sbni.avif)">
      <div class="garden-name-rem">
        <div>Name:<%= @garden.name %></div>
        <div> Reminder:<%= @garden.reminder.strftime('%a %d %b %Y')%></div>
      </div>
    </div>
    <div class="d-flex">
     <%= link_to "",garden_path(@garden),
     data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash" %>

    <%= link_to "", new_garden_garden_plant_path(@garden), class: "btn_add fa-solid fa-circle-plus" %>


     <%# btn reminder %>
     <%= link_to "",edit_garden_path(@garden), class: "fa-solid fa-pen"%>

    </div>
   <div class="gard-card-container">
     <%# <div class="garden-name"><%= @garden.name %>
      <div class="gard-card-items">
        <% @myplants.each do |myplant|%>
          <% plant = myplant.plant %>
          <div class="item-container">
            <div class="gard-card-photo">
              <%= cl_image_tag plant.photo.key %>
              <%= plant.name %>
              <div class="gard-card-delete">
                <%= link_to garden_plant_path(myplant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do %>
                  <i class="trash_1 fa-solid fa-trash"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <%# </div>data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  </div>
</div>
