<div class="wrapper">
  <div class="card">
    <div class="card_in d-flex">
      <div class="container ">
        <h1>Mau<span class="auto"></span></h1>
        <p>Make your plant healthy.</p>
      </div>

      <%# <h2>
      <strong>categorie:</strong>
      <%= categorie.name
      </h2>
      <% categorie.plants.each do |plant|
      <p>
      <%= plant.name | <% link_to "plant", plant
      # </p>
      # <% end %>


      <div class="card_2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666299216/Mauplant/plants/scott-webb-WwWkgOMU8H8-unsplash_grygry.jpg)"></div>
    </div>
  </div>
  <%# background-image-div %>
  <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666287268/Mauplant/plants/scott-webb-hDyO6rr3kqk-unsplash_cxsrnb.jpg)">
    <%# card_button %>


    <div class="card-category_g"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666294767/Mauplant/plants/zoe-schaeffer-D_VjFp1ds1Y-unsplash_fk94qv.jpg)">
      <%= link_to "My garden","/gardens", class: "link" %>
    </div>

    <div class="card_btn">

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666294878/Mauplant/plants/istockphoto-1323462385-2048x2048_wtfmpm.jpg)">
        <%= link_to "help","", class: "link"%>
      </div>


      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666294981/Mauplant/plants/ceyda-ciftci-dDVU6D_6T80-unsplash_zwu1et.jpg)">
        <%= link_to "plants","/plants", class: "link"%>
      </div>
    </div>
 </div>
