<!DOCTYPE html>
<html>
  <head>
    <title>MauPlant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>



  <%= yield %>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
var typed = new Typed(".auto", {
  strings: ["lamer","lakaz","plant"],
  typeSpeed: 150,
  backspeed: 150,
  loop: true
})
</script>

  </body>
</html>
